body {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

[class*="col-"] {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

h3 {
    margin-top: 1rem;
}

.card {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

canvas {
    background-color: #fff;
}

.level-list {
    width: 100%;
}
